<div class="image-fluid d-flex flex-column min-vh-100  w-100 border align-items-center justify-content-start shadow-sm justify-content-start bg-light"
    ng-controller="dashController as dash">

    <nav class="navbar navbar-expand-lg bg-body-tertiary w-75">
        <div class="container-fluid">
            <a class="navbar-brand text-danger" href="#">MAX CARE</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                   
                    <li class="nav-item">
                        <a class="nav-link" >Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" >Contact us</a>
                    </li>
                    
                </ul>
                <form class="d-flex me-5" role="search">
                    <button class="btn btn-outline-danger m-1"  ng-click="dash.login()"  type="submit">Login</button>
                    <button class="btn btn-outline-danger m-1 me-5" type="submit">Career</button>
                </form>
            </div>
        </div>
    </nav>

    <div class="d-flex flex-row flex-fill align-items-center justify-content-evenly bg-light  w-75">

        <div class="d-flex flex-column flex-fill  justify-content-center w-75">
            <img src="../../hospital.png" class="rounded d-flex mt-2"  height="40" width="40" alt="...">
    
            <div class="container-fluid bg-webbg  mt-1 px-1">
                <p class="fs-1 h3 text-danger">Healthcare with Compassionate,</p>
                <p class="fs-1 h5 text-danger">expert care.</p>
                <p class="fs-3 text-black">Your Health , Our Priority</p>
                <p class="fs-6 text-black">Track your wellness manage your health,</p>
                <p class="fs-6 text-black">and connect with care</p>

            </div>
            <button class="btn btn-danger w-25 rounded-5"   ng-click="dash.register()"  type="submit">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar2-check" viewBox="0 0 16 16">
                    <path d="M10.854 8.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L7.5 10.793l2.646-2.647a.5.5 0 0 1 .708 0"/>
                    <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M2 2a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1z"/>
                    <path d="M2.5 4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5z"/>
                  </svg>&nbsp; Book Appointment</button>

            

        </div>
        <div class="d-flex w-25">
            <dotlottie-player src="https://lottie.host/3656ce77-78e4-47b1-b956-f3051493434d/svN2S3hpfh.json"

                style="height: 55rem;" background="transparent" speed="1" loop autoplay></dotlottie-player>


        </div>
        
    </div>
    <div class="d-flex flex-column w-75"> 


        <div class="d-flex justify-content-between align-items-center rounded-4  bg-light    align-items-center p-1 flex-fill">
            <div class="d-flex fs-3 text-danger h6 p-1"><p>Front Line Warriors</p></div>
            <div class="d-flex p-1 bg-light" >            
                <input class="form-control me-2 bg-light" type="search" placeholder="Search" aria-label="Search">
            </div>

         

        </div>
        <div class="d-flex w-100 flex-row justify-content-center flex-fill flex-wrap p-1">
            <div class="card m-1  shadow-sm bg-light" style="width: 20rem;">
                <img src="https://img.freepik.com/free-photo/beautiful-young-female-doctor-looking-camera-office_1301-7807.jpg?size=626&ext=jpg&ga=GA1.1.1819120589.1728345600&semt=ais_hybrid" style="height: 18rem;" class="card-img-top image-fluid object-fit-scale border rounded" alt="...">
                <div class="card-body">
                  <h5 class="card-title text-danger">Dr. Shrinivashni </h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>

              <div class="card m-1  shadow-sm bg-light" style="width: 20rem;">
                <img src="https://img.freepik.com/free-photo/beautiful-young-female-doctor-looking-camera-office_1301-7807.jpg?size=626&ext=jpg&ga=GA1.1.1819120589.1728345600&semt=ais_hybrid" style="height: 18rem;" class="card-img-top image-fluid object-fit-scale border rounded" alt="...">
                <div class="card-body">
                  <h5 class="card-title text-danger">Dr. Shrinivashni </h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>

              <div class="card m-1  shadow-sm bg-light" style="width: 20rem;">
                <img src="https://img.freepik.com/free-photo/beautiful-young-female-doctor-looking-camera-office_1301-7807.jpg?size=626&ext=jpg&ga=GA1.1.1819120589.1728345600&semt=ais_hybrid" style="height: 18rem;" class="card-img-top image-fluid object-fit-scale border rounded" alt="...">
                <div class="card-body">
                  <h5 class="card-title text-danger">Dr. Shrinivashni </h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>

              <div class="card m-1  shadow-sm bg-light" style="width: 20rem;">
                <img src="https://img.freepik.com/free-photo/beautiful-young-female-doctor-looking-camera-office_1301-7807.jpg?size=626&ext=jpg&ga=GA1.1.1819120589.1728345600&semt=ais_hybrid" style="height: 18rem;" class="card-img-top image-fluid object-fit-scale border rounded" alt="...">
                <div class="card-body">
                  <h5 class="card-title text-danger">Dr. Shrinivashni </h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>

              

        </div>

     
    </div>
</div>