<div class="d-flex flex-row flex-fill align-items-center justify-content-center bg-light min-vh-100"
    ng-controller="drRegisterController as drRegister">

    <div class="d-md-flex d-none  flex-column  align-items-center rounded-3  bg-light">
        <dotlottie-player src="https://lottie.host/341dc5a7-ddde-4228-a54b-59bf10315440/kmMd6WquXj.json"
            style="height: 60rem;" background="transparent" speed="1" direction="1" playMode="normal" loop
            autoplay></dotlottie-player>
    </div>

    <form id="form" class="d-flex flex-column align-items-center justify-content-center rounded-3  bg-light">

        <div class="container-fluid d-flex">
            <div class="container-fluid bg-webbg text-danger rounded-4 fs-4 h5 mt-3 px-1"> Dr. Registration

            </div>
            <img src="../../hospital.png" class="rounded mx-auto d-block mt-2" height="40" width="40" alt="...">


        </div>


        <div class="d-flex flex-column flex-sm-row  mt-1 w-100 px-2">
            <div class="form-floating w-auto flex-fill p-1 ">
                <input type="text" class="form-control" name="first_name" id="first_name" placeholder="First Name">
                <label for="first_name" class="d-flex fs-7">First Name<div class="text-danger"> &nbsp;*</div></label>
                <div class="text-danger" ng-model="drRegister.first_name">{{drRegister.first_name}}</div>
            </div>
            <div class="form-floating w-auto flex-fill p-1">
                <input type="text" class="form-control" name="last_name" id="last_name" placeholder="Password">
                <label for="last_name" class="d-flex">Last Name <div class="text-danger"> &nbsp;*</div></label>
                <div class="text-danger" ng-model="drRegister.last_name">{{drRegister.last_name}}</div>

            </div>


        </div>
        <div class="d-flex flex-column flex-sm-row justify-content-between mt-1 w-100 px-2">
            <div class="form-floating w-auto flex-fill p-1 ">
                <input type="email" class="form-control" name="email" id="email" placeholder="name@example.com"
                    autocomplete="email">
                <label for="email" class="d-flex">Email <div class="text-danger"> &nbsp;*</div></label>
                <div class="text-danger" ng-model="drRegister.email">{{drRegister.email}}</div>

            </div>
            <div class="form-floating w-auto flex-fill p-1">
                <input type="number" class="form-control" name="mobile" id="mobileNo" placeholder="Password"
                    min="6666666666" max="9999999999">
                <label for="mobileNo" class="d-flex">Mobile Number<div class="text-danger"> &nbsp;*</div></label>
                <div class="text-danger" ng-model="drRegister.mobile">{{drRegister.mobile}}</div>

            </div>


        </div>
        <div class="d-flex flex-row justify-content-between mt-1 w-100 px-2">
            <div class="form-floating w-50 p-1">
                <select class="form-select" id="maritalStatus" name="degree">
                    <option value="">Select </option>
                    <option value="{{item}}" ng-repeat="item in drRegister.degree track by $index">{{item}}</option>


                </select>
                <label for="prv_medissue">Degree</label>
                <div class="text-danger" ng-show="drRegister.prv_medissue">Put valid issue</div>

            </div>
            <div class="form-floating w-50 p-1">
                <select class="form-select" id="maritalStatus" name="specialization">
                    <option value="">Select </option>
                    <option value="{{item}}" ng-repeat="item in drRegister.specializationArray track by $index">{{item}}
                    </option>


                </select>
                <label for="prv_medissue">Specialization</label>
                <div class="text-danger" ng-show="drRegister.prv_medissue">Put valid issue</div>

            </div>
        </div>
        <div class="d-flex flex-column flex-sm-row justify-content-between mt-1 w-100 px-2">

            <div class="form-floating w-auto flex-fill p-1">
                <input type="number" class="form-control" name="experience" id="experience" placeholder="" min="1">
                <label for="experience"  class="d-flex">Years of experience<div class="text-danger"> &nbsp;*</div></label>
                <div class="text-danger" ng-model="drRegister.experience">{{drRegister.experience}}</div>
        
            </div>
        </div>

        <div class="d-flex flex-column flex-sm-row justify-content-between mt-1 w-100 px-2">
            <div class="form-floating w-auto flex-fill p-1 ">
                <input type="file" accept="image/*" class="form-control" name="file" id="email" placeholder="" required>
                <label for="file" class="d-flex">Photo <div class="text-danger"> &nbsp;*</div></label>
                <div class="text-danger" ng-model="drRegister.image">{{drRegister.image}}</div>

            </div>


        </div>

        <div class="d-flex flex-row justify-content-between mt-1 w-100 px-2">
            <div class="form-floating  w-auto flex-fill p-1 ">
                <select class="form-select" id="gender" name="gender">
                    <option value="">Select</option>
                    <option value="M">Male</option>
                    <option value="F">Female</option>

                </select>
                <label for="gender" class="d-flex">Gender<div class="text-danger"> &nbsp;*</div></label>
                <div class="text-danger" ng-model="drRegister.gender">{{drRegister.gender}}</div>

            </div>
            <div class="form-floating  w-auto flex-fill p-1 ">
                <select class="form-select" id="maritalStatus" name="maritalStatus">
                    <option value="">Select </option>
                    <option value="M">Married</option>
                    <option value="UM">Un-Married</option>

                </select>
                <label for="maritalStatus">Marital Status</label>
                <div class="text-danger" ng-model="drRegister.maritalStatus">{{drRegister.maritalStatus}}</div>

            </div>
            <div class="form-floating  w-auto flex-fill p-1">
                <input type="Date" class="form-control" id="dob" name="dob" placeholder="">
                <label for="dob" class="d-flex">DOB<div class="text-danger"> &nbsp;*</div></label>
                <div class="text-danger" ng-model="drRegister.dob">{{drRegister.dob}}</div>

            </div>
        </div>




        <div class="d-flex flex-row justify-content-between mt-1 w-100 px-2">
            <div class="form-floating w-50 p-1 ">
                <select class="form-select" name="state" id="state">
                    <option value="">Select</option>
                    <option value="{{item}}" ng-repeat="item in drRegister.stateArray track by $index">{{item}}</option>
                </select>
                <label for="state" class="d-flex">State<div class="text-danger"> &nbsp;*</div></label>
                <div class="text-danger" ng-model="drRegister.state">{{drRegister.state }}</div>

            </div>
            <div class="form-floating w-50 p-1">
                <input type="text" class="form-control" id="city" name="city" placeholder="">
                <label for="city" class="d-flex">City<div class="text-danger"> &nbsp;*</div></label>
                <div class="text-danger" ng-model="drRegister.city">{{drRegister.city}}</div>

            </div>
        </div>

        <div class="d-flex flex-row justify-content-between mt-1 px-2 w-100">
            <div class="form-floating w-50 p-1 ">
                <input type="number" class="form-control" name="pincode" id="Pincode" placeholder="">
                <label for="Pincode">Pincode</label>
                <div class="text-danger" ng-model="drRegister.pincode">{{drRegister.pincode}}</div>

            </div>
            <div class="form-floating w-50 p-1">
                <input type="text" class="form-control" name="address" id="Address" placeholder=""
                    autocomplete="address-level1">
                <label for="Address" class="d-flex">Address<div class="text-danger"> &nbsp;*</div></label>
                <div class="text-danger" ng-model="drRegister.address">{{drRegister.address}}</div>

            </div>
        </div>
        <div class="d-flex flex-row justify-content-between mt-1 px-2 w-100">
            <div class="form-floating mb-3 w-50 p-1 ">
                <input type="password" class="form-control" name="passwd1" id="password" placeholder="">
                <label for="password" class="d-flex">Password<div class="text-danger"> &nbsp;*</div></label>
                <div class="text-danger" ng-model="drRegister.passwd1">{{drRegister.passwd1}}</div>

            </div>
            <div class="form-floating w-50 p-1">
                <input type="password" class="form-control" name="passwd2" id="cpassword" placeholder="Password">
                <label for="cpassword" class="d-flex">Confirm Password<div class="text-danger"> &nbsp;*</div></label>
                <div class="text-danger" ng-model="drRegister.passwd2">{{drRegister.passwd2}}</div>

            </div>
        </div>





        <button type="submit" class="btn btn-danger w-25 p-2 mb-3" ng-click="drRegister.register()">Register</button>


        <div class="d-flex bg-webbg text-black rounded-4 mb-2">Already Have an Account?<div class="text-danger"
                ng-click="drRegister.redirect()"> &nbsp; Login</div>
        </div>

    </form>









</div>