<div class="image-fluid d-flex flex-column min-vh-100 w-100 border align-items-center shadow-sm justify-content-center bg-light"
    ng-controller="loginController as login" >


    <div class="d-flex flex-column align-items-center justify-content-center rounded-3">
        <div class="d-md-flex d-none  flex-column  align-items-center rounded-3 w-50  bg-light">
            <dotlottie-player src="https://lottie.host/d7ae61db-b8ac-4f3d-b7d9-5b3f9ffce738/wTfssrzbqD.json"
                background="transparent" speed="1" direction="1" playMode="normal" loop
                autoplay></dotlottie-player>
        </div>
    
      

    </div>
    <form id="form" class="d-flex flex-column  align-items-center justify-content-center  mt-2 w-50  bg-transparent">
    
        <div class="container-fluid d-flex w-50  flex-fill">
        
            <div class="container-fluid bg-webbg  rounded-4 text-black fs-4 h5 mt-3 px-2">Login</div>    
            <img src="../../hospital.png" class="rounded mx-auto d-block mt-2"  height="30" width="30" alt="...">
        
        </div>

        <div class="form-floating mb-3 p-1 w-50 flex-fill">
            <input type="email" class="form-control" name="email" id="email" placeholder="name@example.com" autocomplete="email" required>
            <label for="email" name="email" class="d-flex">Email <div class="text-danger"> &nbsp;*</div></label>
        </div>
        <div class="form-floating mb-3 p-1  w-50 flex-fill">
        <input type="password" class="form-control" name="passwd" id="Pincode" placeholder="">
        <label for="Pincode" class="d-flex">Password<div class="text-danger"> &nbsp;*</div> </label>
        </div>

        <div class="text-danger"  ng-model="login.errorMsg">{{login.errorMsg}}</div>





        <button type="submit" class="btn btn-danger w-auto p-2 mb-3" ng-click="login.login()">Login</button>

        <div class="d-flex w-auto flex-fill bg-webbg text-black rounded-4 mb-2">Don't Have an Account?<div class="text-danger"  ng-click="login.redirect()"> &nbsp; Register</div></div> 

    </form>

  



</div>