<div class="image-fluid d-flex flex-row min-vh-100  w-100"
    ng-controller="patientController as patient">

    <div class="d-flex  flex-column  align-items-start justify-content-start bg-light w-25">
       
        <div class="d-flex  flex-row w-100 align-items-center justify-content-between">
            <div class="d-flex align-items-center bg-light mx-2">
                <img src="../../hospital.png" class=" d-flex rounded mx-auto d-block mt-2"  height="30" width="30" alt="...">
                <div class="d-flex bg-webbg text-danger rounded-4 fs-3 h5 mt-3 p-2">MAX CARE
     
                </div>

     
            </div>
            
           
            <div class="d-flex bg-webbg ms-5 me-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                  </svg>
     
            </div>
    
    
        </div>
       <div class="d-flex flex-column w-100">
        <div class="d-flex bg-webbg text-black fs-6 h5 p-2 border rounded-2 shadow-sm w-100">Main</div>
        <div class="d-flex bg-webbg text-body-secondary h6 p-2 clear-fix">Appointments</div>
        <div class="d-flex bg-webbg text-body-secondary h6 mt-2 p-2">Reports</div>
        <div class="d-flex bg-webbg text-body-secondary h6 mt-2 p-2">Transactions</div>
        <div class="d-flex bg-webbg text-body-secondary h6 mt-2 p-2">Prescription</div>
        <div class="d-flex bg-webbg text-body-secondary h6 mt-2 p-2">Medical Details</div>

       </div>
    </div>

    <div class="d-flex  flex-column  align-items-start justify-content-start bg-light w-100" ui-view="appointments" >
    </div>
   
    
</div>