
<div class="d-flex flex-fill flex-column border shadow-sm justify-content-start min-vh-100 bg-white rounded-4 w-100"
ng-controller="prescriptionController as pendingAppointments" >



    <div class="d-flex flex-row  align-items-start justify-content-start w-100 p-3"> 
        <div class="d-flex w-100 bg-webbg  rounded-4 text-danger fs-5 h5 mt-3 px-3" data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop" aria-controls="staticBackdrop">
            <i class="bi bi-list d-flex d-md-none m-1"></i>
            Prescription  </div>
    
        </div>
        <div ng-show="pendingAppointments.loader" class="d-flex w-100 flex-row justify-content-center align-items-center min-vh-100 flex-wrap p-4">
          <div class="spinner-border m-5" style="width: 3rem; height: 3rem;" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
      </div>



        <div ng-show="!pendingAppointments.loader" class="d-flex w-100 flex-row justify-content-center align-items-center flex-wrap p-4">

            <div class="d-flex border rounded-3 m-1 align-items-center justify-content-center  shadow-sm bg-light w-100" style="text-decoration: none;">
     
                <table  class="table">
                    <thead>
                      <tr class="bg-light">
                        <th scope="col" class="bg-light">Appointment Date</th>
                        <th scope="col" class="bg-light">Doctor Name</th>
                        <th scope="col" class="bg-light">Symptoms</th>
                        <th scope="col" class="bg-light">Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="item in pendingAppointments.appointments">
                        <td class="text-success">{{item.prefered_date}}</td>
                        <td class="">{{item.doctor__first_name}} {{item.doctor__last_name}}</td>
                       
                        <td>{{item.symptoms}}</td>
                        <td><a ng-href="#!/patient/prescriptionPdf/{{item.id}}" style="text-decoration: none;">View Prescription</a></td>
                      </tr>
                     
                    </tbody>
                  </table>
            </a>
    
        </div>

</div>
