<div class="d-flex flex-row w-100 bg-white"
    ng-controller="receptionistController as receptionist">

    <div class="d-md-flex d-none flex-column border align-items-start justify-content-start bg-light w-auto  rounded-4 shadow-sm m-1 ">
       
        <div class="d-flex  flex-row w-100 align-items-center">
            <div class="d-flex align-items-center bg-light m-2 w-100">
                <img src="../../hospital.png" class=" d-flex rounded mx-auto d-block mt-2"  height="30" width="30" alt="...">
                <div class="d-flex bg-webbg text-danger rounded-4 flex-fill fs-3 h5 mt-3 p-2 w-100">MAX&nbsp;CARE</div>     
            </div>
            
<!--            
            <div class="d-flex bg-webbg ms-5 me-3 w-auto" >
                <i class="bi bi-list d-none d-md-flex"></i>
     
            </div> -->

        </div>
       <div class="d-flex flex-column w-100">
        <div class="d-flex bg-webbg text-black fs-6 h5  ms-1 me-5 p-2  rounded-2 w-100 ">Main</div>
        <div ui-sref="{{item.url}}" ng-repeat="item in receptionist.sideNaviagtion track by $index" class="d-flex bg-webbg align-items-center text-body-secondary h6 w-100 clear-fix ms-1 me-5 p-2 "><i class="{{item.icon}} p-1" style="font-size: 1.5rem;"></i>{{item.name}}</div>
        <div ng-click="receptionist.logout()" class="d-flex bg-webbg align-items-center text-body-secondary h6 w-100 clear-fix  ms-1 me-5 p-2  "><i class="bi bi-box-arrow-right p-1" style="font-size: 1.5rem;"></i>&nbsp;Log out</div>


       </div>
    </div>


      <div class="offcanvas offcanvas-start" data-bs-backdrop="static" tabindex="-1" id="staticBackdrop" aria-labelledby="staticBackdropLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="staticBackdropLabel">
            <div class="d-flex align-items-center mx-2 w-100">
                <img src="../../hospital.png" class=" d-flex rounded mx-auto d-block mt-2"  height="30" width="30" alt="...">
                <div class="d-flex bg-webbg text-danger rounded-4 flex-fill fs-3 h5 mt-3 p-2 w-100">MAX&nbsp;CARE</div>     
            </div>
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <div>
            <div class="d-flex flex-column w-100">
                <div class="d-flex bg-webbg text-black fs-6 h5 p-2 rounded-2 w-100 ">Main</div>
                <div ui-sref="{{item.url}}" data-bs-dismiss="offcanvas" aria-label="Close" ng-repeat="item in receptionist.sideNaviagtion track by $index" class="d-flex bg-webbg align-items-center text-body-secondary h6 p-2 w-100 clear-fix  "><i class="{{item.icon}}" style="font-size: 1.5rem;"></i>&nbsp;{{item.name}}</div>
                <div ng-click="receptionist.logout()" class="d-flex bg-webbg align-items-center text-body-secondary h6 p-2 w-100 clear-fix  "><i class="bi bi-box-arrow-right" style="font-size: 1.5rem;"></i>&nbsp;Log out</div>
        
        
               </div>
          </div>
        </div>
      </div>      

    <div ui-view="" class="d-flex flex-column  bg-light min-vh-100 w-100 m-2">
        



    </div>
   



   

   

    
</div>