<div class="d-flex flex-fill flex-column border shadow-sm justify-content-start bg-white w-100 rounded-4"
ng-controller="transactionPatientController as pendingAppointments" >



    <div class="d-flex flex-row  align-items-start justify-content-start w-100 p-3"> 
        <div class="d-flex w-100 bg-webbg  rounded-4 text-danger fs-5 h5 mt-3 px-3" data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop" aria-controls="staticBackdrop">
            <i class="bi bi-list d-flex d-md-none m-1"></i>
            Transactions </div>
    
        </div>
       
</div>


