<div class="d-flex flex-fill flex-column border shadow-sm justify-content-start min-vh-100 bg-white w-100"
ng-controller="drconfirmAppointmentsController as pendingAppointments" >



    <div class="d-flex flex-row  align-items-start justify-content-start w-100 p-3"> 
        <div class="d-flex w-100 bg-webbg  rounded-4 text-danger fs-5 h5 mt-3 px-3">
            <i class="bi bi-list d-flex d-md-none m-1"></i>
            Confirm Appointments </div>
    
        </div>


        <div class="d-flex w-100 flex-row justify-content-center align-items-center flex-wrap p-4">

            <div  class="d-flex border rounded-3 m-1 align-items-center justify-content-center  shadow-sm bg-white w-100" style="text-decoration: none;" >
                <table class="table">
                    <thead>
                      <tr class="bg-light">
                        <th scope="col" class="bg-light">Appointment ID</th>
                        <th scope="col" class="bg-light">Appointment Date</th>
                        <th scope="col" class="bg-light">Patient Name</th>
                        <th scope="col" class="bg-light">Symptoms</th>
                        <th scope="col" class="bg-light">Click here</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="item in pendingAppointments.appointments track by $index">
                        
                        <th scope="row">{{item.id}}</th>
                        <td>{{item.prefered_date}}</td>
                        <td>{{item.patient__first_name}} {{item.patient__last_name}}</td>
                        <td>{{item.symptoms}}</td>
                        <td><a ng-href="#!/doctor/drprescription/{{item.id}}" style="text-decoration: none;">Prescribe Medicine</a></td>
                      </tr>
                     
                    </tbody>
                  </table>
    
                </div>
            </div>
    
        </div>

</div>


