<div class="d-flex flex-fill flex-column border shadow-sm justify-content-start min-vh-100 w-100 bg-white"
  ng-controller="drprescriptionController as pendingAppointments">



  <div class="d-flex flex-row  align-items-start justify-content-start w-100 p-3">
    <div class="d-flex w-100 bg-webbg  rounded-4 text-danger fs-5 h5 mt-3 px-3">
      <i class="bi bi-list d-flex d-md-none m-1"></i>
      Prescription Of Appointment {{pendingAppointments.id}}
    </div>

  </div>

  <div class="d-flex w-100 flex-row justify-content-start align-items-start flex-wrap p-4">

    <form id="form" class="d-flex flex-column  align-items-center justify-content-center w-100  mt-2   bg-transparent">




      <div class="d-flex flex-column justify-content-between mt-1 w-100 px-2">

        <div class="form-floating mb-3 p-1 w-100 d-flex flex-fill">



          <div class="d-flex flex-row align-items-center justify-content-center mt-1 w-100 px-2">


            <div class="form-floating w-50 mb-3 p-1  flex-fill">
              <input type="text" class="form-control" name="name" ng-model="pendingAppointments.name" maxlength="35"
                id="" placeholder="" required>
              <label for="name">Medicine Name </label>

            </div>



            <div class="form-floating w-50 mb-3 p-1  flex-fill">
              <input type="date" class="form-control" name="medicine" ng-model="pendingAppointments.date" maxlength="35"
                id="" placeholder="" required>

              <label for="specialization">Till Prescribed </label>
              <div class="text-danger" ng-show="patientAppoint.degree">Put valid issue</div>

            </div>
            <div class="form-floating w-50 mb-3 p-1  flex-fill">
              <select class="form-select" id="doctors" name="doc_id" ng-model="pendingAppointments.frequency">
                <option value="">Time's a day </option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>


              </select>
              <label for="degree">Doctor</label>
              <div class="text-danger " ng-show="patientAppoint.degree">Put valid issue</div>

            </div>
            <div class="form-floating w-50 mb-3 p-1  flex-fill">
              <button type="button" class="btn btn-danger p-2 h-auto w-auto" ng-click="pendingAppointments.add()">Add
                Medicine</button>


            </div>


          </div>

        </div>


      </div>

    </form>


    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Medicine Name</th>
          <th scope="col">Prescribed Till Date</th>
          <th scope="col">In a Day(times)</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in pendingAppointments.medicineArray track by $index">
          <th scope="row">{{$index+1}}</th>
          <td>{{item.medicine_name}}</td>
          <td>{{item.valid_date}}</td>
          <td>{{item.frequency}}</td>

        </tr>

      </tbody>

    </table>

    <div class="d-flex flex-row align-items-center justify-content-center w-100 mb-3">

      <button type="button" class="btn btn-danger p-2 h-auto w-auto"
        ng-click="pendingAppointments.sentMail()">Prescribed</button>
    </div>



  </div>

</div>