<div class="d-flex flex-fill flex-column border shadow-sm justify-content-start min-vh-100 bg-white w-100 rounded-4"
ng-controller="prescribedAppointmentsController as pendingAppointments" >



    <div class="d-flex flex-row  align-items-start justify-content-start w-100 p-3"> 
        <div class="d-flex w-100 bg-webbg  rounded-4 text-danger fs-5 h5 mt-3 px-3" data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop" aria-controls="staticBackdrop">
            <i class="bi bi-list d-flex d-md-none m-1"></i>
            Prescribed Appointments </div>
    
        </div>
        <div ng-show="pendingAppointments.loader" class="d-flex w-100 flex-row justify-content-center align-items-center min-vh-100 flex-wrap p-4">
      
          <div class="spinner-border m-5" style="width: 3rem; height: 3rem;" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
      </div>


        <div ng-show="!pendingAppointments.loader" class="d-flex w-100 flex-row justify-content-center align-items-center flex-wrap p-4">

            <div  class="d-flex border rounded-3 m-1 align-items-center justify-content-center  shadow-sm bg-light w-100"  >
                <table class="table">
                    <thead>
                      <tr class="bg-light">
                        <th scope="col" class="bg-light">Appointment ID</th>
                        <th scope="col" class="bg-light">Appointment Date</th>
                        <th scope="col" class="bg-light">Patient Name</th>
                        <th scope="col" class="bg-light">Symptoms</th>
                        <th scope="col" class="bg-light">Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="item in pendingAppointments.appointment track by $index">
                        
                        <th scope="row">{{item.id}}</th>
                        <td>{{item.prefered_date}}</td>
                        <td>{{item.patient__first_name}} {{item.patient__last_name}}</td>
                        <td>{{item.symptoms}}</td>
                        <td><a ng-href="#!/doctor/drprescription/{{item.id}}" style="text-decoration: none;">View Prescription</a></td>
                      </tr>
                     
                    </tbody>
                  </table>
                <!-- <div class="d-flex justify-content-around align-items-center  flex-row  w-100">
                    <div class="d-flex align-items-center justify-content-between p-1 w-25">
                        <div class="card-title fs-6 text-body-secondary ">
                            Appointment  <div class="text-success fs-5"> </div>
                        </div>
                        
                    </div>
    
                    <div class="d-flex align-items-center text-black mt-3 p-1 h5 fs-6">Patient Name:&nbsp;<div
                            class="text-body-secondary fs-6"></div>
                    </div>
                    <div class="d-flex align-items-center text-black mt-3 p-1 h5 fs-6 w-50">Symptoms:&nbsp;<div
                            class="text-body-secondary fs-6"></div>
                    </div>

                    <div class="d-flex align-items-center text-black p-1">Status:<div
                            class="text-success-emphasis font-weight-bold fs-6">&nbsp;</div>
                    </div>
    
                </div> -->
            </div>
    
        </div>

</div>

